<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Serialization.Json" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Serialization.Xaml" version="2.2.0" targetFramework="net45" />
  <package id="FSharp.Compiler.CodeDom" version="0.9.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.11.0" targetFramework="net45" />
</packages>