<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="2.5.0" targetFramework="win" />
  <package id="SharpDX.Direct2D1" version="2.5.0" targetFramework="win" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="win" />
  <package id="WinRT-DatePicker" version="1.1" targetFramework="win" />
  <package id="WinRTXamlToolkit" version="1.6.0.5" targetFramework="win" />
</packages>