# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# use tabs by default for everything
[*.cs]
indent_style = tab
indent_size = 4
tab_size = 4
charset=utf-8
csharp_new_line_before_open_brace = all

# packages.config uses spaces
[**\packages.config]
indent_style = space
indent_size = 2

[*.{csproj,vbproj,proj,targets,props}]
indent_style = space
indent_size = 2
tab_size = 2
