<configuration>
	<config>
		<!-- 
		Used for projects using packages.config (e.g. XamMac) 
		Remove when XamMac is removed as everything else we're using <PackageReference>
		-->
		<add key="repositoryPath" value="artifacts/packages" />
	</config>
	<packageSources>
		<!-- needed until NUnit 3.10 is released -->
        <add key="NUnit development feed" value="https://www.myget.org/F/nunit/api/v3/index.json" />
    </packageSources>
</configuration>
