<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonoBundleExecutable</key>
	<string>MyApp.exe</string>
	<key>CFBundleName</key>
	<string>MacAppTemplate</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.myapp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Yourself</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleExecutable</key>
	<string>Launcher.exec</string>
	<key>BuildMachineOSBuild</key>
	<string>12A269</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
