<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
		<add key="generator" value="Eto.Test.UnitTests.Handlers.TestPlatform, Eto.Test" />
		<add key="generator" value="Eto.GtkSharp.Platform, Eto.Gtk2" />
		<add key="generator" value="Eto.GtkSharp.Platform, Eto.Gtk3" />
		<add key="generator" value="Eto.Mac.Platform, Eto.Mac" />
		<add key="generator" value="Eto.WinForms.Platform, Eto.WinForms" />
		<add key="generator" value="Eto.Wpf.Platform, Eto.Wpf" />
		-->
	</appSettings>
</configuration>
