<configuration>
  <dllmap dll="libgio-2.0-0.dll" target="libgio-2.0.so.0"/>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
  <dllmap dll="libgdk-win32-3.0-0.dll" target="libgdk-3.so.0"/>
  <dllmap dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.so.0"/>
</configuration>
