<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk3" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Mac" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Windows" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Direct2D" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Wpf" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.XamMac" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.XamMac2" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.iOS" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Serialization.Json" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Serialization.Xaml" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Platform.Mac.Template" version="2.1.0" targetFramework="net45" />
  <package id="Eto.Forms.Sample" version="2.1.0" targetFramework="net45" />
</packages>