<configuration>
  <dllmap dll="webkitgtk-3.0" target="libwebkitgtk-3.0.so.0"/>
  <dllmap dll="libsoup-2.4" target="libsoup-2.4.so.1"/>
  <dllmap dll="libgtk-3-0.dll" target="libgtk-3.so.0"/>
  <dllmap dll="libwebkitgtksharpglue-1.10.2.so" target="/usr/lib/cli/webkitgtk-sharp-3.0/libwebkitgtksharpglue-1.10.2.so"/>
</configuration>
