<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Generator type to use for tests, or blank for auto detect
		<add key="generator" value="Eto.Platform.Windows.Generator, Eto.Platform.Windows"/>
		<add key="generator" value="Eto.Platform.Wpf.Generator, Eto.Platform.Wpf"/>
		<add key="generator" value="Eto.Platform.Mac.Generator, Eto.Platform.Mac"/>
		<add key="generator" value="Eto.Platform.GtkSharp.Generator, Eto.Platform.Gtk"/>
		-->
		<add key="generator" value=""/>
	</appSettings>
</configuration>