<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <runtime>
    <!-- Enable .NET 4.6.2 fixes for high-dpi even though we are built for .NET 4.5 -->
    <AppContextSwitchOverrides value="Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness=false;Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
</configuration>
