<configuration>
	<config>
		<!-- 
		Used for projects using packages.config (e.g. XamMac) 
		Remove when XamMac is removed as everything else we're using <PackageReference>
		-->
		<add key="repositoryPath" value="../artifacts/packages" />
	</config>
	<packageSources>
    </packageSources>
</configuration>
