<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Serialization.Json" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Serialization.Xaml" version="2.3.0" targetFramework="net45" />
  <package id="FSharp.Compiler.CodeDom" version="1.0.0.1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.3.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.15.0" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.4.1" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
</packages>